// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.all-container {
  padding: 24px 24px 0 24px;
}

.form-container {
 display: flex;
 justify-content: flex-start;
}

#ask {
  padding: 8px;
  width: 75vw;
  height: 40px;
  border-radius: 8px 0 0 8px;
  border: 1px solid rgb(216, 216, 216);
}

#submit {
 padding: 8px 16px;
 background-color: rgb(38, 136, 216);
 border: 0px solid rgb(216, 216, 216);
 color: white;
 border-radius: 0 8px 8px 0;
}

.your-question {
  border-left: 10px solid rgb(218, 218, 218);
  padding: 8px;
}

.your-question p, .coach-answer p {
  margin: 0 0 0 16px;
  padding: 8px;
}

.italic {
  font-style: italic;
}

.coach-answer {
  border-left: 10px solid rgb(218, 218, 218);
  padding: 8px;
  margin: 16px 0 16px 0;
  background-color: rgb(253, 253, 215);
}

#title {
  margin-top: 24px;
}
